.row-3,
.row-2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-3 .col,
.row-2 .col {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  z-index: 500;
}
@media (min-width: 0px) {
  .row-3 .col.xs-1 {
    width: 33.3333%;
  }
  .row-3 .col.xs-2 {
    width: 50%;
  }
  .row-3 .col.xs-3 {
    width: 100%;
  }
  .row-2 .col.xs-1 {
    width: 50%;
  }
  .row-2 .col.xs-2 {
    width: 100%;
  }
  .hidden-xs {
    display: none;
  }
  .visible-xs {
    display: block;
  }
}
@media (min-width: 600px) {
  .row-3 .col.sm-1 {
    width: 33.3333%;
  }
  .row-3 .col.sm-2 {
    width: 50%;
  }
  .row-3 .col.sm-3 {
    width: 100%;
  }
  .row-2 .col.sm-1 {
    width: 50%;
  }
  .row-2 .col.sm-2 {
    width: 100%;
  }
  .hidden-sm {
    display: none;
  }
  .visible-sm {
    display: block;
  }
}
@media (min-width: 900px) {
  .row-3 .col.md-1 {
    width: 33.3333%;
  }
  .row-3 .col.md-2 {
    width: 50%;
  }
  .row-3 .col.md-3 {
    width: 100%;
  }
  .row-2 .col.md-1 {
    width: 50%;
  }
  .row-2 .col.md-2 {
    width: 100%;
  }
  .hidden-md {
    display: none;
  }
  .visible-md {
    display: block;
  }
}
@media (min-width: 1200px) {
  .row-3 .col.lg-1 {
    width: 33.3333%;
  }
  .row-3 .col.lg-2 {
    width: 50%;
  }
  .row-3 .col.lg-3 {
    width: 100%;
  }
  .row-2 .col.lg-1 {
    width: 50%;
  }
  .row-2 .col.lg-2 {
    width: 100%;
  }
  .hidden-lg {
    display: none;
  }
  .visible-lg {
    display: block;
  }
}
